---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1><span class="text-gradient">Welcome</span></h1>
		<p class="welcome-message">Test message</p>
		<div class="project-grid">
			<Card
				href="https://papertoilet.com/"
				title="Lorem Ipsum"
				body="Lorem Ipsum"
				image="Raytracing.JPG"
			/>
			<Card
				href="https://papertoilet.com/"
				title="Lorem Ipsum"
				body="Lorem Ipsum"
				image="Raytracing.JPG"
			/>
			<Card
				href="https://papertoilet.com/"
				title="Lorem Ipsum"
				body="Lorem Ipsum"
				image="Raytracing.JPG"
				/>
			<Card
				href="https://papertoilet.com/"
				title="Lorem Ipsum"
				body="Lorem Ipsum"
				image="Raytracing.JPG"
				/>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: auto;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.project-grid {
		max-width: 80%;
		margin: 0 auto 6rem;
		display: grid;
		padding: 1rem;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 2rem;
	}
	@media screen  and (max-width: 1350px) {
		.project-grid {
			grid-template-columns: 1fr 1fr;
		}
	}
	@media screen and (max-width: 700px) {
		.project-grid {
			grid-template-columns: 1fr;
		}
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	/* Handles the grid layout for the projects */
	.welcome-message {
		text-align: center;
		line-height: 0rem;
	}
</style>
