---
interface Props {
	title: string;
	body: string;
	href: string;
	image: string;
}

const { href, title, body, image } = Astro.props;
---

<div class="link-card">
	<a href={href}>
		<div class="image-wrapper">
			<img class="project-image" src="Raytracing.JPG"/>
		</div>
		<div class="project-text">
			<h2>
				{title}
			</h2>
			<p>
				{body}
			</p>
		</div>
	</a>
</div>
<style>
.image-wrapper {
	overflow:hidden;
	border-radius: 7px;
}
.project-image {
	overflow: hidden;
		display: flex;
		width: 100%;
		max-width: (100% - 2rem);
		height: auto;
		border-radius: 7px;
		transition: all 0.3s ease-in-out;
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
		mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
		object-fit: cover;
	}
	.link-card {
		position: relative;
		list-style: none;
		display: flex;
	}
	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: calc(1.5rem - 1px);
		border-radius: 7px;
		color: white;
		background-color: #23262d;
		opacity: 0.9;
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	.link-card:hover .project-image {
		/* width: 150%; */
		-webkit-transform: scale(1.10);
	}
</style>
